.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    /* height: 30vw; */
    z-index: 3;
    /* background-color: #fff; */
    /* padding: 10px; */
    /* border: black solid 1px; */
}
.close-button {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.modal-content {
    margin-top: 40px;
}
