.serve-event-content-wrapper {
    text-align: center;
    // padding: 1rem;
    // margin: 0.5rem 0;
    padding-top: 10px;
    width: 80%;
    height: auto;
    // align-items: center;
    background: lightgray;
    color: black;
}

.church-contact-header {
    font-weight: bold;
    margin-top: 10px;
}
.logistics-header {
    font-weight: bold;
    margin-top: 10px;
}
.meal-header {
    font-weight: bold;
    margin-top: 10px;
}
.tally-header {
    font-weight: bold;
    margin-top: 10px;
}
.sr-event-status-label .sr-event-status-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.sr-event-status-label .sr-event-status-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.sr-event-status-label:hover .sr-event-status-tooltip {
    visibility: visible;
    opacity: 1;
}
.serve-item-none-to-report-message {
    margin-bottom: 10px;
}
.serve-event-register-item-wrapper {
    margin-bottom: 5px;
}
.serve-event-register-item-name {
    display: inline-block;
}
.serve-event-register-item-numbers {
    display: inline-block;
    padding-left: 10px;
}
