hr {
    margin: 10px 15px;
}
.servepagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serve-pageheader {
    background: #379683;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    width: 80%;
    margin: 3px 0 0 0;
    padding: 5px 0px;
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}
.servedetailswrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 80%;
    background: #557a95;
    color: white;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
}
.serve-page-message-box {
    font-family: 'Roboto', sans-serif;
    margin: 0px 40px;
}
.event-list-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    // width: 80%;
    margin: 3px 0 0 0;
    padding: 5px 0px;
}
.event-list-item {
    margin: 3px 0;
}
