.profile-component__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-component__events-box {
    background-color: lightgray;
    width: 280px;
    margin-top: 5px;
}
.profile-component__page-title {
    background-color: #379683;
    color: white;
    padding: 2px 0px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}
.profile-component__event-box {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}
.profile-component__data-row {
    display: flex;
    justify-content: flex-end;
}
.profile-component__data-label {
    flex: 1;
    text-align: right;
    padding-right: 3px;
}
.profile-component__date-control {
    flex: 2;
}
