.personalprofilewrapper {
    text-align: center;
    // padding: 1rem;
    // margin: 0.5rem 0;
    padding-top: 10px;
    width: 80%;
    height: auto;
    // align-items: center;
    background: lightgray;
    color: black;
}
.profileform {
    text-align: right;
    padding-right: 10%;
    margin-bottom: 20px;
}
.profileform label {
    margin-right: 10px;
}
.profilehomesection {
    text-align: center;
    margin: 10px 0 10px 0;
}
.churchsection {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0 10px 0;
    
}
.profilebutton {
    text-align: center;
    margin-top: 10px;
}