.eventdetailswrapper {
    text-align: center;
    // padding: 1rem;
    // margin: 0.5rem 0;
    padding-top: 10px;
    width: 80%;
    // align-items: center;
    background: #557a95;
    color: white;
}
.event_graphics {
    width: 50%;
}
.event_image {
    width: 80%;
    margin-left: 10%;
}

.eventdatewrapper {
    text-align: left;
    margin-left: 10%;
}

.eventdatetime {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
.eventdate {
    align-items: left;
    font-size: 2em;
    font-weight: bold;
}
.eventmessage {
    margin-bottom: 25px;
    padding: 10px 5px;
}
.registerhorizontalbreak {
    border: 5px solid #B1A296;
    width: 80%;
    color: #B1A296;
    height:1px;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color: #B9A296;
    border-radius: 7px 7px 7px 7px;
}
.registrationoffermessage {
    margin-bottom: 30px;
}
.loginbutton {
    padding: 2px 5px;
    font-size: .7em;
    background-color: white;
    border-radius: 2px 2px 2px 2px;
}
.newregisterbutton {
    padding: 2px 5px;
    font-size: .7em;
    background-color: black;
    color: white;
    border-radius: 2px 2px 2px 2px;
}
.attendeecount {
    width: 3px;
}
.registerbutton {
    background: yellow;
    padding: 2px 5px;
}