.confirmuserwrapper {
    text-align: center;
    // padding: 1rem;
    // margin: 0.5rem 0;
    padding-top: 10px;
    width: 80%;
    height: auto;
    // align-items: center;
    background: lightgray;
    color: black;
}
.confirmform {
    text-align: right;
    padding-right: 10%;
    margin-bottom: 20px;
}
.confirmform label {
    margin-right: 10px;
}
.instructions {
    // border: solid black 1px;
    width: auto;
    margin-left: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.confirmbutton {
    text-align: center;
    margin-top: 10px;
}
