.event-box {
    text-align: center;
    // padding: 1rem;
    // margin: 0.5rem 0;
    padding-top: 0px;
    width: 80%;
    // align-items: center;
    background-color: url("https://pate-images.s3.amazonaws.com/background.jpg");
    // background: #557a95;
    color: white;
}
.date-box {
    background-color: #379683;
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black double 1px;
    margin-top: 10px;
    padding: 2px 0;
}
.event-month {
}
.event-location {
    font-size: 1.2em;
    font-weight: bold;
}
.address {
    padding-left: 10px;
    border-left: black solid 1px;
    border-right: black solid 1px;
}
.event-street {
    padding-left: 10px;
}
.event-city-state {
    padding-left: 10px;
}
.event-postalcode {
    padding-left: 10px;
}
.linkbutton {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
}
