.new-event-confirm-delete__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    // margin: 20px;
    border: black solid 1px;
    border-radius: 5px;
    background-color: lightgray;
}
.new-event-confirm-delete__header {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px;
    border-bottom: black solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.new-event-confirm-delete__message {
    padding: 10px;
    text-align: center;
}
.new-event-confirm-delete__button-wrapper {
    text-align: center;
}
.new-event-confirm-delete__yes-button {
    background-color: green;
    color: white;
    padding: 2px 5px;
    margin: 5px 15px;
}
.new-event-confirm-delete__no-button {
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin: 5px 15px 15px 15px;
}
