.userregistrationswrapper {
    text-align: center;
    padding-top: 0px;
    width: 80%;
    height: auto;
    background: #557a95;
    color: white;
}
.registrationtable {
    text-align: left;
    margin-left: 20px;
    font-size: 0.8em;
    width: 100%;
}
.eventdate {
    vertical-align: bottom;
}
.eventname {
    padding-left: 10px;
}
.eventlocation {
    padding-left: 10px;
}
