.new-user-page__wrapper {
    display: flex;
    margin-left:10vw;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    text-align: center;
}
.new-user-page__page-header{
    font-size: 1em;
    font-weight: bold;
    background-color: #379683;
    width:80vw;
    margin-top:10px;
    color:white;
    text-align: center;
    border: black solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.new-user-page__offer-confirm-link{
    color: white;
    padding: 10px;
    margin-left: 10vw;
}
.new-user-page__confirmation-link{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}