.pagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 350px;
}
.register-user_offer-confirm-link{
    color: white;
    margin-left: 10%;
}